@font-face {
  font-family: Monoist Regular;
  src: url("/fonts/Monoist-Regular.ttf");
  src: url("/fonts/Monoist-Regular.otf") format("opentype");
}
@font-face {
  font-family: 'Niketo';
  src: url("/fonts/Niketo.ttf?fbqf5e") format('truetype'), url("/fonts/Niketo.woff?fbqf5e") format('woff'), url("/fonts/Niketo.svg?fbqf5e#Niketo") format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Monoist Regular", "Lucida Console", Monaco, monospace;
  max-width: 1920px;
  margin: 0 auto;
}
.scrollbox {
  position: relative;
  overflow: hidden;
}
html.fixnavbar {
  height: 100%;
  overflow: hidden;
}
html.fixnavbar body {
  height: 100%;
}
html.fixnavbar .scrollbox {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 2;
}
a {
  color: #7f00ff;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
a:hover {
  color: #f0f;
}
.fade {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 130;
  background-color: #171717;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.fade_show {
  opacity: 1;
}
.arrow {
  position: fixed;
  left: calc(100vw - 180px - 8.333333333333334vw);
  width: 8.333333333333334vw;
  bottom: 90px;
  z-index: 100;
  background-image: url("/images/arrow.svg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 180px;
  height: 180px;
  width: 180px;
  opacity: 0.1;
  margin-left: -85px;
}
@media only screen and (max-width: 1440px) {
  .arrow {
    margin-left: -35px;
  }
}
@media only screen and (max-width: 1020px) {
  .arrow {
    margin-left: 21px;
  }
}
@media only screen and (max-width: 780px) {
  .arrow {
    margin-left: 41px;
  }
}
@media only screen and (max-width: 320px) {
  .arrow {
    left: calc(100vw - 60px);
    width: 60px;
    background-size: 90px;
    height: 90px;
    bottom: 45px;
    margin-left: 0;
  }
}
.arrow_stop {
  position: absolute;
  bottom: auto;
  margin-top: calc(100vh - 90px - 180px);
  -ms-flex-item-align: start;
      align-self: flex-start;
}
@media only screen and (max-width: 320px) {
  .arrow_stop {
    margin-top: calc(100vh - 90px - 90px);
  }
}
.transition {
  background-color: #171717;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  z-index: 1;
}
.hello {
  height: 100vh;
  cursor: default;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 110;
}
.hello_hide-slideshow {
  opacity: 0;
  pointer-events: none;
}
.hello__slides-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  overflow: hidden;
}
.hello_hide-slideshow .hello__slides-wrapper {
  opacity: 0;
}
.hello__slide {
  width: 100%;
  height: 100%;
  font-size: 0;
  color: #f8f8f8;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: none;
  transition: none;
  -webkit-transform: scale(1);
          transform: scale(1);
  z-index: 1;
  position: absolute;
}
.hello__slide_active {
  z-index: 3;
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.hello__slide_post-active {
  z-index: 2;
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.hello__slide-img {
  height: 100vh;
  width: 100vw;
  -webkit-transition: none;
  transition: none;
  background-size: cover;
  background-position: center;
}
.hello__slide_active .hello__slide-img,
.hello__slide_post-active .hello__slide-img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}
.hello__slide-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hello__slide-text-wrapper {
  margin-left: 16.666666666666668vw;
  margin-right: 16.666666666666668vw;
  font-size: 45px;
  letter-spacing: 0.2em;
  line-height: 1.333em;
  margin-top: -0.3em;
  top: 4%;
  position: relative;
}
@media only screen and (max-width: 1440px) {
  .hello__slide-text-wrapper {
    margin-right: 16.666666666666668vw;
    font-size: 30px;
  }
}
@media only screen and (max-width: 1020px) {
  .hello__slide-text-wrapper {
    margin-left: 8.333333333333334vw;
  }
}
@media only screen and (max-width: 540px) {
  .hello__slide-text-wrapper {
    margin-right: 8.333333333333334vw;
  }
}
@media only screen and (max-width: 320px) {
  .hello__slide-text-wrapper {
    margin: 0 20px 0 15px;
    font-size: 20px;
    line-height: 1.5em;
  }
}
.hello__slide-text {
  display: inline;
}
.hello__slide-caps {
  font-size: 10px;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  display: inline;
}
.about {
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.about_normal-height {
  min-height: 0 !important;
}
.about__image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about__image {
  width: 100vw;
  height: 50vw;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-bottom: 120px;
}
@media only screen and (max-width: 540px) {
  .about__image {
    height: 100vw;
    width: 200vw;
  }
}
.about__content {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #262626;
  z-index: 101;
}
.about__header {
  width: 41.666666666666664vw;
  font-family: "Niketo", "Monoist Regular", "Lucida Console", Monaco, monospace;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 0.9em;
  letter-spacing: 0.2em;
  position: relative;
}
@media only screen and (max-width: 540px) {
  .about__header {
    font-size: 30px;
    margin-bottom: 30px;
    width: 58.333333333333336vw;
    margin-bottom: 10px;
  }
}
.about__description {
  width: 33.333333333333336vw;
  margin-bottom: 113px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: uppercase;
  white-space: pre-line;
  font-size: 10px;
  line-height: 2em;
  letter-spacing: 4px;
  position: relative;
}
.about__description_normal-case {
  text-transform: none;
  font-size: 12px;
  letter-spacing: 2px;
}
@media only screen and (max-width: 1020px) {
  .about__description {
    width: 41.666666666666664vw;
  }
}
@media only screen and (max-width: 780px) {
  .about__description {
    margin-bottom: 39px;
  }
}
@media only screen and (max-width: 540px) {
  .about__description {
    width: 91.66666666666667vw;
    padding-right: 20px;
  }
}
.about__description:last-child {
  margin-bottom: 150px;
}
.about__header,
.about__description {
  left: 16.666666666666668vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media only screen and (max-width: 1020px) {
  .about__header,
  .about__description {
    left: 8.333333333333334vw;
  }
}
@media only screen and (max-width: 320px) {
  .about__header,
  .about__description {
    padding: 0 20px;
    width: 100%;
    left: 0;
  }
}
.projects {
  display: block;
  position: relative;
  z-index: 30;
}
.project {
  display: block;
  position: relative;
  max-height: 720px;
  overflow: hidden;
  color: #f2f2f2;
}
.project a {
  text-decoration: none;
  color: inherit;
}
.project a:hover {
  color: #e5e5e5;
}
.project__image-container {
  background-color: #171717;
  height: 720px;
  position: relative;
  display: block;
}
@media only screen and (max-width: 1020px) {
  .project__image-container {
    height: 510px;
  }
}
@media only screen and (max-width: 780px) {
  .project__image-container {
    height: 390px;
  }
}
@media only screen and (max-width: 320px) {
  .project__image-container {
    height: 318.75px;
  }
}
.project__image {
  opacity: 0;
  -webkit-transition: 0.5s opacity;
  transition: 0.5s opacity;
  position: absolute;
  right: 0;
  top: 0;
}
@media only screen and (max-width: 1020px) {
  .project__image {
    width: 1360px;
  }
}
@media only screen and (max-width: 780px) {
  .project__image {
    width: 1040px;
  }
}
@media only screen and (max-width: 320px) {
  .project__image {
    width: 850px;
  }
}
.project__image_completed {
  opacity: 1;
}
.project__content {
  position: absolute;
  padding-top: 30px;
  left: 16.666666666666668vw;
  width: 0;
  top: 38%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media only screen and (max-width: 1020px) {
  .project__content {
    left: 8.333333333333334vw;
  }
}
@media only screen and (max-width: 320px) {
  .project__content {
    top: 43px;
    left: 0;
    padding: 10px 20px 0;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.project__number {
  position: absolute;
  bottom: 100%;
  font-size: 10px;
  line-height: 2em;
  letter-spacing: 4px;
}
.project__header {
  width: 41.666666666666664vw;
  font-family: "Niketo", "Monoist Regular", "Lucida Console", Monaco, monospace;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 0.9em;
  letter-spacing: 0.2em;
  margin-top: -0.1em;
}
.project__description {
  width: 33.333333333333336vw;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 2em;
  letter-spacing: 4px;
  white-space: pre-line;
  pointer-events: none;
}
@media only screen and (max-width: 1020px) {
  .project__description {
    width: 41.666666666666664vw;
  }
}
@media only screen and (max-width: 540px) {
  .project__description {
    display: none;
  }
}
.fixnavbar .fade ~ .logo {
  display: none;
}
.fixnavbar .fade_show ~ .logo {
  display: block;
}
.fade_show ~ .logo {
  z-index: 131;
}
.logo {
  position: fixed;
  left: 0;
  top: 45px;
  left: 16.666666666666668vw;
  z-index: 110;
  width: 20px;
  height: 45px;
}
@media only screen and (max-width: 1020px) {
  .logo {
    left: 8.333333333333334vw;
  }
}
.logo__loader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #7f00ff;
  background-size: 100%;
  -webkit-animation-name: preloader;
          animation-name: preloader;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.logo_loaded .logo__loader {
  opacity: 0;
  -webkit-animation-name: none;
          animation-name: none;
}
.logo img {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.menu {
  position: fixed;
  top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 102;
  right: 16.666666666666668vw;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
@media only screen and (max-width: 540px) {
  .menu {
    right: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    top: 25px;
  }
}
.menu-item {
  display: inline;
  color: #7f00ff;
}
@media only screen and (max-width: 540px) {
  .menu-item {
    margin-top: 15px;
  }
}
.menu-item a {
  color: inherit;
  text-decoration: none;
}
.menu-item a:hover {
  color: #f0f;
}
.menu-item::after {
  content: "\2022";
  margin: 0 8px;
}
@media only screen and (max-width: 540px) {
  .menu-item::after {
    display: none;
  }
}
.menu-item:last-child::after {
  display: none;
}
.about-end {
  min-height: 100vh;
  z-index: 40;
  position: relative;
  overflow: hidden;
}
.about-end__header {
  position: absolute;
  left: 16.666666666666668vw;
  width: 83.33333333333333vw;
  top: 31%;
}
@media only screen and (max-width: 1020px) {
  .about-end__header {
    left: 8.333333333333334vw;
  }
}
@media only screen and (max-width: 320px) {
  .about-end__header {
    width: 100%;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    left: 0;
  }
}
.about-end__description {
  width: 33.333333333333336vw;
  margin-bottom: 83px;
  color: #f2f2f2;
  text-transform: uppercase;
  white-space: pre-line;
  font-size: 10px;
  line-height: 2em;
  letter-spacing: 4px;
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  clear: both;
}
.about-end__description_normal-case {
  text-transform: none;
  font-size: 12px;
  letter-spacing: 2px;
}
@media only screen and (max-width: 1020px) {
  .about-end__description {
    width: 41.666666666666664vw;
  }
}
@media only screen and (max-width: 780px) {
  .about-end__description {
    margin-bottom: 39px;
  }
}
@media only screen and (max-width: 540px) {
  .about-end__description {
    width: auto;
    padding-right: 20px;
  }
}
.about-end__next {
  color: #f2f2f2;
  font-size: 10px;
  letter-spacing: 4px;
  display: block;
  cursor: default;
}
.about-end__title {
  font-family: "Niketo", "Monoist Regular", "Lucida Console", Monaco, monospace;
  margin-top: 10px;
  font-size: 60px;
  letter-spacing: 0.2em;
  line-height: 1.5em;
  float: left;
  clear: both;
  color: #7f00ff;
  display: block;
  margin-bottom: 25px;
  position: relative;
}
@media only screen and (max-width: 540px) {
  .about-end__title {
    font-size: 30px;
  }
}
.about-end__title:hover {
  color: #f0f;
}
.about-end__title:hover span {
  border-bottom-color: #f0f;
}
.about-end__title span {
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
  border-bottom: 1px solid #7f00ff;
  padding-bottom: 10px;
}
@media only screen and (max-width: 540px) {
  .about-end__title span.space {
    display: none;
  }
}
.about-end__footer {
  position: absolute;
  bottom: 45px;
  left: 16.666666666666668vw;
  font-size: 10px;
  line-height: 30px;
  color: #5d5d5d;
  letter-spacing: 4px;
  margin-bottom: -1.3em;
}
@media only screen and (max-width: 1020px) {
  .about-end__footer {
    left: 8.333333333333334vw;
  }
}
@media only screen and (max-width: 320px) {
  .about-end__footer {
    left: 21px;
  }
}
.about-end__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 540px) {
  .about-end__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.about-end__item {
  display: inline;
  color: #7f00ff;
}
@media only screen and (max-width: 540px) {
  .about-end__item {
    display: block;
    list-height: 26px;
  }
}
.about-end__item a {
  color: inherit;
  text-decoration: none;
}
.about-end__item a:hover {
  color: #f0f;
}
.about-end__item::after {
  content: "\2022";
  margin: 0 10px;
}
@media only screen and (max-width: 540px) {
  .about-end__item::after {
    display: none;
  }
}
.about-end__item:last-child::after {
  display: none;
}
@-webkit-keyframes preloader {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes preloader {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=index.css.map */